@import '../../Style/abstracts/variable';

#popular-search{
    margin: auto;
    width: 80%;
    border-radius: $default-border-radius;   
    background: $mainGray;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h2{
        padding-top: 10px;
    }

    h3{
        padding-top: 10px;
        font-size: $mid-font-size;
        font-weight: 600;
        letter-spacing: $mainSpacing;
    }
    a{
        color: $mainBlack;
        letter-spacing: $bodySpacing;
        font-size: $default-font-size;
    }

    @media (max-width: 1200px) {
        display: block;
        width: 100%;
        padding-bottom: 10px;
        h3,a{
            padding-right: 50px;
        }

    }
    
}

.popular-search-areas{
    list-style: none;
    
    
}


.popular-search-div{

    .per-link{
        margin-left: 170px;
        margin-bottom: 5px;
        text-align: start;

        a{
            color: $primaryColor;
            font-weight: bold;
            font-size: 15px;

            &:hover{
                background-color: $primaryColor;
                color: white;
                padding: 3px;
            }
        }

        @media (max-width: 500px) {
            margin-left: 125px;
        }
    }
}