@import '../../Style/abstracts/variable';

/*
.go_top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: #c3c4bd;
  border: 2px solid #cfcfcf;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 650ms;
  transition: all 650ms;
}

.go_top:hover {
  background-color: transparent;
  color: #000000;
  cursor: pointer;
}
*/
#signup-section{
  position: relative;
}

.back_top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* ======================================================*/
/*  signup_form.html's css code */
/* ======================================================*/
/* signup form */
#signup-section .signup-form {
  // height: 450px;
}

#signup-section .signup-form .form-info {
  padding: 20px;
  position: absolute;
  top: 25%;
  left: 35%;
  right: 35%;
  background-color: #fff;
  border: 1px solid #7473F1;
  border-radius: 5px;
}

#signup-section .signup-form .form-info h2 {
  margin: 20px 0px;
  text-transform: capitalize;
  font-weight: 600;
  color: $primaryColor;
}

#signup-section .signup-form .form-info h5{
  margin: 20px 0px;
  text-transform: capitalize;
}

#signup-section .signup-form .form-info .form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid $primaryColor;
  border-radius: 4px;
  margin-bottom: 5px;
}

#signup-section .signup-form .form-info .form-input::-webkit-input-placeholder {
  letter-spacing: 0;
  font-size: 15px;
}

#signup-section .signup-form .form-info .form-input:-ms-input-placeholder {
  letter-spacing: 0;
  font-size: 15px;
}

#signup-section .signup-form .form-info .form-input::-ms-input-placeholder {
  letter-spacing: 0;
  font-size: 15px;
}

#signup-section .signup-form .form-info .form-input::placeholder {
  letter-spacing: 0;
  font-size: 15px;
}

#signup-section .signup-form .form-info .button {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  text-align: center;
  color: #fff;
  -webkit-transition: background-color 650ms;
  transition: background-color 650ms;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  border: none;
  border-radius: 4px;

}

#signup-section .signup-form .form-info .button:hover {
  background-color: white;
  border: 1px solid $primaryColor;
  color: $primaryColor;
  font-weight: 800;
}

#signup-section .signup-form .form-info .forgot {
  margin: 10px 0 5px;
  text-align: end;
  color: #000;
  text-decoration: underline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-transform: capitalize;
}

#signup-section .signup-form .form-info .log {
  background-color: $primaryColor;
}

#signup-section .signup-form .form-info .fb {
  background-color: #042580;
}

#signup-section .signup-form .form-info .sign {
  border: 1px solid $primaryColor;
  color: $primaryColor;
}

#signup-section .signup-form .form-info .line {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
}

#signup-section .signup-form .form-info .line::before,
#signup-section .signup-form .form-info .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  top: 55%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#signup-section .signup-form .form-info .line::after {
  background-color: #000000;
  width: 45%;
  left: 0;
}

#signup-section .signup-form .form-info .line::before {
  background-color: #000000;
  width: 45%;
  right: 0;
}

@media (max-width: 991px) {
  
  
#signup-section .signup-form .form-info {
  padding: 20px;
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  background-color: #fff;
  border: 1px solid #7473F1;
  border-radius: 5px;
}
}
