@import '../../Style/abstracts/variable';

#card-container{
    .card-div{
        overflow: hidden;
        max-height: 200px;
        .price-tag {
            color: $primaryColor;
            font-weight: bold;
            font-size: 2rem;
        }

        .specification{
            display: flex;
            color: $primaryColor;
            font-weight: bold;
        }

        .specification-image{
            display: flex;
            justify-content: space-evenly;
            margin: 10px 0;
            img{
                max-height: 36px;
                width: 50px;
                cursor: pointer;
            }
        }

        .card-buttons {
            text-align: right;
        }

        @media(max-width: 500px){
            max-height: fit-content;
        }
    }
}

//#card-style{
//    width: 80%;
//    margin: auto;
//    @media (max-width: 1200px) {
//        width: 100%;
//    }
//    @media(max-width: 500px){
//        overflow: hidden;
//    }
//}
