@import "../../Style/abstracts/variable";
.search-box-wrapper {
  margin-top: 15rem;
  background-color: $bgWhite;
  padding: 10px 10px;
  border-radius: .5rem;
  box-shadow: $boxShadow;
  border: 1px solid $primaryColor;
}

//@media (max-width: 576px) {
//  .search-box-wrapper {
//    margin-top: 5rem;
//  }
//}