@import '../../Style/abstracts/variable';
@import '../../Style/abstracts/mixins';


#search-box {  
    // background: $mainGray;
    background-color: white;
    border-radius: 5px 5px;
    padding: 2% $default-font-size;
    opacity: .8;
    //margin-top: 30%;
    z-index: -1;
    box-shadow: -2px 1px 23px -5px #000000;

    @media (min-width: 1201px) {
      margin-top: 35%;
    }

    @media (max-width: 1200px) {
       margin-top: 15%;
      padding: 2%;
    }

}

.search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
     
}

.search_input {
  font-size: $mid-font-size;
  border: 1px solid grey;
  border-radius: 5px 5px;
  width: 70%;
  //z-index: 0;

  @include respond(phone) {
    font-size: $default-font-size;
  }
}



.all_dropdown {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem $default-font-size;
  @include respond(phone) {
  }
}

