@import "../../Style/abstracts/variable";
@import "../../Style/abstracts/mixins";

#search-box {
  // background: $mainGray;
  background: white;
  background-color: white;
  
  margin: auto;
  // margin-top: 20%;
  // border: 3px solid green;
  border-radius: .5rem;
  box-shadow:  0 0 20px -10px ;
  padding: 10px;
  
  //margin-top: 30%;
  z-index: -1;
  //box-shadow: -2px 1px 23px -5px #000000;

  // @media (min-width: 1201px) {
  //   margin-top: 20%;
  // }

  // @media (max-width: 1200px) {
  //   margin-top: 15%;
  //   padding: 2%;
  // }
}


.search {
  display: flex;
  justify-content: space-around;
  padding: 1%;

  @media(max-width: 500px){
    display: block;
  }

  .button-default:hover{
    box-shadow: $btnShadow;
    color: #fff;
    background-color: $btnColor;
  }

  .search_input {
    font-size: 1.75rem;
    border: 1px solid grey;
    border-radius: 5px 5px;
    //width: 70%;
    //z-index: 0;
    width: 30%;
    margin: 5px 0; 
    @media(max-width: 500px){
      width: 95%;
    }
  }

  // .location-button {
  //   width: 25%;
  //   margin: 5px 0;
  //   @media(max-width: 500px){
  //     width: 100%;
  //   }

  //   &--content {
  //     font-size: 1.75rem;
  //     border: 1px solid gray;
  //     border-radius: 5px 5px;
  //     transition: $mainTransition;
  //     font-weight: 500;
  //     background-color: #fff;
  //   }
  // }

  // .type-button {
  //   width: 25%;
  //   margin: 5px 0;
  //   @media(max-width: 500px){
  //     width: 100%;
  //   }
  //   &--content {
  //     font-size: 1.75rem;
  //     border: 1px solid gray;
  //     border-radius: 5px 5px;
  //     transition: $mainTransition;
  //     font-weight: 500;
  //     background-color: #fff;
  //   }
  // }
 
}

.all_dropdown {
  display: flex;
  justify-content: space-around;
  padding: 1%;
  margin: 5px 0;
  @media(max-width: 500px ){
    display: block;
  }
  // .bed-button {
  //   width: 25%;
  //   margin: 5px 0;
  //   @media(max-width: 500px){
  //     width: 100%;
  //   }
  //   &--content {
  //     font-size: 1.75rem;
  //     border: 1px solid gray;
  //     border-radius: 5px 5px;
  //     transition: $mainTransition;
  //     font-weight: 500;
  //     background-color: #fff;
  //   }
  // }

  // .bath-button {
  //   width: 25%;
  //   margin: 5px 0;
  //   @media(max-width: 500px){
  //     width: 100%;
  //   }
  //   &--content {
  //     font-size: 1.75rem;
  //     border: 1px solid gray;
  //     border-radius: 5px 5px;
  //     transition: $mainTransition;
  //     font-weight: 500;
  //     background-color: #fff;
  //   }
  // }
  // .price-button {
  //   width: 45%;
  //   margin: 5px 0;
  //   @media(max-width: 500px){
  //     width: 100%;
  //   }
  //   .price-button--content {
  //     display: flex;
  //     justify-content: space-between;
  //   }

  //   .price-button--content1 {
  //     font-size: 1.75rem;
  //     border: 1px solid gray;
  //     border-radius: 5px 5px;
  //     transition: $mainTransition;
  //     font-weight: 500;
  //     background-color: #fff;
  //     margin-right: 5%;
  //   }
  //   .price-button--content2 {
  //     font-size: 1.75rem;
  //     border: 1px solid gray;
  //     border-radius: 5px 5px;
  //     transition: $mainTransition;
  //     font-weight: 500;
  //     background-color: #fff;
  //   }
  // }

 
}

.mobile-active{
  display: none;
}
@media(max-width: 500px){
  .mobile-active{
       display: block;
  }
  .mobile-inactive{
    display: none;
  }
}