#search-box {  
    background: $mainWhite;
    border-radius: 5px 5px;
    padding: 5% $default-font-size;
    //margin-top: 30%;
    z-index: -1;

    @media (min-width: 1201px) {
      margin-top: 35%;
    }

    @media (max-width: 1200px) {
      margin-top: 15%;
      padding: 2%;
    }

}

.search {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
     
}

.search_input {
  font-size: $mid-font-size;
  border: 1px solid grey;
  border-radius: 5px 5px;
  width: 70%;
  //z-index: 0;

  @include respond(phone) {
    font-size: $default-font-size;
  }
}



.all_dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem $default-font-size;
  @include respond(phone) {
  }
}

