.header {
  text-decoration: underline;
  font-weight: 700;
  font-size: 20px;
  color: #222;
  text-align: center;
  margin-bottom: 30px;
}

.sub-header {
  color: #222;
  font-weight: 600;
  font-size: 16px;
  margin: 10px 0;
  //text-align: center;
}