
$primaryColor: #5fb7ea;
$primaryRGBA: rgba(0, 0, 0, 0.986);
$mainGray: #C0C0C0;
$darkGray: #aa9797;
$mainWhite: #fff;
$mainBlack: #222;
$darkBlue: #272341;
$mainTransition: all 0.3s ease-in-out;
$mainSpacing: 0.3rem;
$bodySpacing: 0.2rem;
$default-font-size: 1.2rem;
$big-font-size: 2rem;
$mid-font-size: 1.5rem;
$default-border-radius: 10px 10px;
$default-padding: 2rem;
$button-color: #4FF300;

