@import '../../Style/abstracts/variable';
@import '../../Style/abstracts/mixins';

.hero-div{
  #hero {
    // min-height: 120vh;
    // height: 100vh;
    // background-color: $mainWhite;
    font-weight: 400;
    color: $mainBlack;
    padding: 0rem 5.6rem;
    z-index: -1;
    // background-image: url(../../../Assets/images/landingPage.jpg);
    // background-position: center;
    // background-size: cover;
  
    @include respond(phone) {
      padding: 0rem $default-font-size;
    }
  }
  
  #hero_components {
    display: flex;
    justify-content: center;
    // align-items: center;
    @include respond(phone) {
      display: inline-block;
      //margin-top: 30%;
    }
        
  }
  

}

