@import '../../Style/abstracts/variable';

html {
    font-size: 62.5%;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: $mainBlack;
    // background-color: gray ;
  }

  .navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover{
  box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.68) !important;
  background-color: $primaryColor;
  color: white;
} 
.active{
  color: white;
}

.title{
  font-size: $mid-font-size;
  font-weight: 600;
  // letter-spacing: $mainSpacing;
  padding-bottom: 1rem;
  text-transform: uppercase;

  &--footer{
    font-size: $big-font-size;
    font-weight: 600;
    padding: 1rem;
    text-decoration: underline;
  }

  &--range{
    font-size: $default-font-size;
    font-weight: 600; 
    padding-bottom: 1rem;
  }
}

.details{
  background: $mainGray;
}

// btn color globally

.btn-primary{
  background-color: white;
  border: none;
  color: $primaryColor;
  font-weight: bold;

 &:hover{
    background-color: $primaryColor;
    box-shadow: 0 0 9px -2px rgba(0,0,0,0.68);
  }
}

// form control globally

.form-control{
  // background-color: rgba($primaryColor, .2);
  // color: $primaryColor;
}