html {
    font-size: 62.5%;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: $mainBlack;
    background-color: #ececec;
  }

  .navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,255);
}

.title{
  font-size: $mid-font-size;
  font-weight: 600;
  letter-spacing: $mainSpacing;
  padding-bottom: 1rem;
  text-transform: uppercase;

  &--footer{
    font-size: $big-font-size;
    font-weight: 600;
    padding: 1rem;
    text-decoration: underline;
  }

  &--range{
    font-size: $default-font-size;
    font-weight: 600; 
    padding-bottom: 1rem;
  }
}

.details{
  background: $mainGray;
}
