.description-content{
    // background-color: #c0c0c0;
    background-color: white;
    margin-top: 10px;
    tr{
        background-color: whitesmoke;
    }

    td{
        font-size: 1.4rem;
         
    }
    
}