.image-content{
    
    .image-content--large{
         .big-image{
             width: 100%;
             height: 50vh ;
         }
         display: flex;
         justify-content: center;
          padding-bottom: 2%;  
          .big-image:hover{
              cursor: pointer;
          }
    }

    .image-content--small{
        display: flex;
        justify-content: space-between;
        // padding-bottom: 2%;
        .small-image{
                width: 22%;
                height: 90px;
        }
        .small-image:hover{
            cursor: pointer;
        }
    }
}