@import '../../Style/abstracts/variable';


.footer-main{
    width: 78%;
    border-radius: $default-border-radius;
    background: $mainGray;
}



.footer-link{
    display: block;
      
    a{
        color: $mainBlack;
        // letter-spacing: $bodySpacing;
        font-size: $default-font-size;
    }

    a:hover{
        // font-size: $mid-font-size;
    }

    &--catagories{
        @extend .footer-link;
        
    }

    &--social{
        @extend .footer-link;
        margin: 0 0 20px 0;
    }


}



.footerArea{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    align-items: flex-start;    
    padding: 1px;
    
    &--catagories{
        @extend .footerArea;
        padding-left: 5rem;
        text-align: center;
    }

    &--social{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-bottom: 5px;
        img{
            height: 40px;
            width: 40px;
        }

        a:hover{
            img{
                width: 50px;
                height: 50px;
            }
        }
        
        .footer-icon{
            font-size: 30px;
        }
        .footer-icon:hover{
            transition: .2s all linear;
            width: 35px;
            height: 35px;
        }
    }
}
