@import "../../Style/abstracts/variable";
.ad-submit-main {
  .tabs {
    .nav-tabs {
      border-bottom: none;
    }
    .nav-link {
      color: $mainBlack;
      font-size: $mid-font-size;
    //   padding: 10px;
        padding: 10px 0px;
      border: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      cursor: pointer;
    }
    .nav-link:hover {
      border-color: none;
    //   border-top: 2px solid $mainBlack;
    }
    .nav-item{
        margin-left: 5px;
        margin-right: 5px;
    }
    .nav-item:hover{
        border-top: 2px solid $mainBlack;
    }
    
  }

  
}

.stay-focused{
    border-top: 2px solid $mainBlack !important;
}

//form residential
.residential-form-main{
  .container{
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 10px;
  }

.residential-form{
  padding-left: 20px;
  padding-right: 20px;
  h2{
    padding: 20px 0px;
    font-weight: 700;
    text-decoration: underline;
    text-align: left;
    letter-spacing: .15rem;
  }
  label{
    display: block;
    font-size: $mid-font-size;
    font-weight: 500;
    color: #151515;
    text-align: left;
    padding: 10px 0px 0px 0px;
    
  }

  input[type= text]{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: $mid-font-size;
    // padding-left: 10px;
  }

  select{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: $mid-font-size;
    background-color: white;
  }
  .price-input{
    display: flex;
    width: 90%;
    border: 1px solid;
    border-radius: 5px;
    .price-input-text{
      border: none;
    }
    .price-input-text:focus{
      outline: none;
    }
  }
}
}