.advertisement-main {
  margin-top: 3%;
  padding-top: 1rem;

  .carousel-container {
    .fade:not(.show) {
      opacity: 1 !important;
    }

    .prev, .next {
      background-color: #715EF1;
      padding: 4px 4px;
      margin: 0 30px;
    }
  }

  .send-details-form {
    position: fixed;
  }

  .advertisement-main-header {
    padding: 20px 0;
    h2 {
      font-weight: bold;
    }
    .advertisement-main-header-type {
      margin: 10px 0;
      .rent {
        padding: 5px;
        background-color: #4f4f4f;
        color: #ffffff;
        margin-right: 10px;
      }

      .apartment {
        padding: 5px;
        background-color: #4f4f4f;
        color: #ffffff;
      }

      .rent:hover, .apartment:hover {
        color: #715EF1;
      }
    }
    .location {
      margin: 15px 0 0;
    }
    .icons {
      font-size: 2.5em;
      border: 1px solid;
      border-radius: 5px;
      padding: 4px;
      color: #715EF1;
    }
  }

  .advertisement-details{
    padding: 20px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 10px;
    .advertisement-details-header{
      display: flex;
      justify-content: space-between;
    }
  }

  .strict-fixed {
    position: fixed;
    top: 118px;
  }

  .normal-fixed {
    position: fixed;
    top: 218px;
  }


}