@import "../../../Style/abstracts/variable";
@import "../../../Style/abstracts/mixins";


.location-button {
    width: 25%;
    margin: 5px 0;
    @media(max-width: 500px){
      width: 100%;
    }

    .location-button--content {
      font-size: 1.75rem;
      border: 1px solid gray;
      border-radius: 5px 5px;
      transition: $mainTransition;
      font-weight: 500;
      background-color: #fff;
    }
  }