@import "../../Style/abstracts/variable";
.userads {
  margin-top: 50px;
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  //
  table thead th {
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: $mainBlack;
    text-align: center;
  }
  table tbody td {
    text-align: center;
    font-size: 1.5rem;

  }
}
.page-link {
  position: relative;
  display: block;
  padding: 1.2rem;
  margin-left: -1px;
  line-height: 1.25;
  font-size: 1.5rem;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
