.userads {
  margin-top: 50px;
  width: 100%;
  .table thead {
    background-color: #715ef1;
  }

  table thead th {
    border: none;
    padding: 15px;
    font-size: 13px;
    font-weight: 700;
    color: white;
  }
  table tbody td {
    border: none;
    padding: 15px;
    font-size: 14px;
    background: #fff;
    border-bottom: 2px solid #715ef1;
    vertical-align: middle;
  }
}
.page-link {
  position: relative;
  display: block;
  padding: 1.2rem;
  margin-left: -1px;
  line-height: 1.25;
  font-size: 1.5rem;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
