@import '../../Style/abstracts/variable';

.catagories-div{
    margin: 20px;
    width: auto;
    .row{
        background-color:  $primaryColor;
        padding: 10px;
        border-radius: .5rem;
        .link{
            color: white;
            font-weight: bold;
            &:hover{
                box-shadow: $boxShadow;
                padding: 10px;
                border: 1px solid $borderColor;
                border-radius: 5px;
            }
        }
    }
}