@import '../../Style/abstracts/variable';

.catagories-div{
    margin: 20px;
    width: auto;
    .row{
        background-color:  $primaryColor;
        padding: 10px;
        border-radius: .5rem;
        .link{
            color: rgb(232, 230, 227);
            font-size: 1.5rem;
            font-weight: 600;
            text-transform: uppercase;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}