@import '../../Style/abstracts/variable';

.catagories-div{
    .row{
        background-color:  $primaryColor;
        padding: 10px 0;
        border-radius: .5rem;
        .link{
            color: white;
            font-weight: bold;
            
            &:hover{
                box-shadow: 0 0 9px -2px rgba(0,0,0,.5);
                padding: 10px;
                background-color: white;
                color: $primaryColor;
            }
        }
    }
}